[submodule "mods/mine9"]
	path = mods/mine9
	url = https://github.com/9mine/mine9-mod
[submodule "mods/directories"]
	path = mods/directories
	url = https://github.com/9mine/directories
[submodule "mods/console"]
	path = mods/console
	url = https://github.com/9mine/console
[submodule "mods/worldedit"]
	path = mods/worldedit
	url = https://github.com/Uberi/Minetest-WorldEdit/
